USE [APPSC_NEW_DEV]
GO
/****** Object:  Table [dbo].[leads]    Script Date: 3/22/2017 14:14:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[leads](
	[id_leads] [int] IDENTITY(1,1) NOT NULL,
	[kode_cabang] [int] NOT NULL,
	[id_area] [int] NOT NULL,
	[nama_prospek] [nchar](100) NULL,
	[no_telp] [varchar](50) NULL,
	[alamat] [varchar](500) NULL,
	[produk] [varchar](50) NULL,
	[status] [int] NOT NULL,
	[npp] [varchar](50) NULL,
	[aksi] [varchar](50) NULL,
	[tgl_input] [datetime] NULL,
	[kolek_data] [datetime] NULL,
	[input_elo] [datetime] NULL,
	[booking] [datetime] NULL,
	[bulan] [int] NULL,
	[tahun] [int] NULL,
	[nominal] [varchar](20) NULL,
	[ket] [varchar](100) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[leads] ON 

INSERT [dbo].[leads] ([id_leads], [kode_cabang], [id_area], [nama_prospek], [no_telp], [alamat], [produk], [status], [npp], [aksi], [tgl_input], [kolek_data], [input_elo], [booking], [bulan], [tahun], [nominal], [ket]) VALUES (11937, 5, 1, N'test 100                                                                                            ', N'021-1234565', N'jln. test 75', N'2', 4, N'10003', N'1', NULL, CAST(N'2017-03-16 17:06:00.000' AS DateTime), CAST(N'2017-03-20 10:18:00.000' AS DateTime), NULL, NULL, NULL, N'', N'')
INSERT [dbo].[leads] ([id_leads], [kode_cabang], [id_area], [nama_prospek], [no_telp], [alamat], [produk], [status], [npp], [aksi], [tgl_input], [kolek_data], [input_elo], [booking], [bulan], [tahun], [nominal], [ket]) VALUES (7, 90, 1, N'Test 7                                                                                              ', N'021-1234573', N'jln. Test 7', N'1', 1, N'60020', NULL, NULL, CAST(N'2017-03-05 01:07:00.000' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[leads] ([id_leads], [kode_cabang], [id_area], [nama_prospek], [no_telp], [alamat], [produk], [status], [npp], [aksi], [tgl_input], [kolek_data], [input_elo], [booking], [bulan], [tahun], [nominal], [ket]) VALUES (8, 50, 1, N'Test 8                                                                                              ', N'021-1234574', N'jln. Test 8', N'1', 1, N'60025', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[leads] OFF
